.floorSection {
    width: 100%;
    height: 100%;
    max-width: 85%;
    max-height: 90%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
}

.floorContainer {
    width: 100%;
    height: 100%;
    padding-bottom: 0.5%;
    align-items: center;
    justify-content: center;
}

.floorContainer-hidden {
    display: none;
}

.closeButton {
    color: white;
    font-size: 16px;
    height: 5%;
    width: 10%;
    padding-bottom: 0.5%;
    background: linear-gradient(90deg  ,rgba(0, 0, 255, 0.5), rgba(0, 149, 255, 0.5));
}

.floorHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0;
}

.floorHeader .FloorButtons {
    height: 100%;
    width: 100%;
    border: 0px solid black;
}

.FloorButtons {
    text-transform: uppercase;
    background-color: rgba(255, 0, 0, 0.5);
}

.floorHeader .FloorButtons:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.roomHeader {
    max-height: 90%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    overflow: auto;
    /* padding-top: 0.5%; */
    /* background-color: red; */
}


.roomHeader button {
    font-size: 16px;
    border: 0px solid black;    
    height: 8%;
    width: 50%;
    text-align: left;
    align-items: center;
    padding: 2% ;
    padding-left: 3%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
}

.roomHeader button:hover {
    border: 0px solid black;    
    background-color: rgba(255, 255, 255, 0);
    width: 50%;
    color: red;
}

.roomButtonToggled {
    color: red;
}

.floorButtonToggled {
    background-color: rgba(255, 255, 255, 0.5);
}


.floorSection-hidden {
    display: none;
}

.floorPlanContainer-hidden {
    display: none;
}

.floorPlanContainer {
    width: 100%;
    height: 100%;
    padding-bottom: 0.5%;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.floorPlanLayout {
    background-color: yellow;
    width: 98%;
    height: 91%;
    padding: 1%;
    max-height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floorPlanLayout .floorPlanImage {
    width: 100%;
    height: 96%;
    object-fit: contain;
}