.kioskContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom right, #ff6e7f, #bfe9ff); */
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
  }

  .kioskContainer.notshow {
    opacity: 0;
    visibility: hidden;
    }

.kioskContainer .kioskBuildingList {
    text-align: center;
    /* background-color: red; */
}

.kioskBuildingList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 18%;
}

.kioskButton {
    color: black;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 0 auto;
    padding: 1%;
    width: 100%;
    height: 12%;
    /* border-radius: 25px; */
    font-size: 16px;
    font-style: italic;
}

.kioskButton:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
}

h1 {
    color: white;
    font-style: italic;
    letter-spacing: 5px;
}

@media only screen and (max-width: 1280px) {
h1, h3 {
    font-size: 38px;
    }
}